language: node_js
node_js:
  - "node"
install:
  - npm install
script:
    - npm run test:travis
    - npm run build

deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx semantic-release
